.DetailDisplay {
    width: 100%;
    min-height: 100%;
    background-color: white;
    box-sizing: border-box;
    padding: 3rem 5rem;
    text-align: left;
    overflow: auto
}


.DetailDisplay>h1 {
    margin-top: 2rem;
}

.DetailDisplay>h1:nth-child(1) {
    margin-top: 0;
}

.DetailDisplay>h2 {
    margin-left: 1rem;
}


.DetailDisplay>p {
    margin: 1rem;
}

.DetailDisplay code {
    overflow: auto;
    display: block;
    width: 90%;
    background-color: rgb(126, 126, 226);
    color: white;
    margin:2rem 2rem;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
}

.DetailDisplay>ul {
    display: block;
    /* margin-left: 2rem; */
    position: relative;
    left: 50%;
    transform: translateX(-60%);
    margin: 3rem;
    width: 60%;
}

.DetailDisplay>ul>li {
    display: block;
    margin: 1rem;
}

.DetailDisplay>blockquote {
    position: relative;
    margin: 2rem 0;
    left: 10%;
    width: 80%;
    border-left: 5px solid rgb(126, 126, 226);
    display: block;
    padding-left: 1rem;
}