.Introduce {
    background-color: aliceblue;
    width: 100%;
    min-height: 36rem;
    padding-top: 6rem;
}

.Introduce-display {
    width: 80%;
    min-height: 26rem;
    background-color: white;
    box-shadow: 0px 0px 5px #c3c3c3;
    position: relative;
    left: 50%;
    top:20%;
    transform: translate(-50%);
    text-align: left;
    box-sizing: border-box;
    padding:5rem 8rem;
}

.Introduce-loading {
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}